@import "../../../../public/scss/theme-variables";
@import "../../../../public/scss/mixins";

.view-channel {
  height: 100vh;
  width: 100%;
  display:block;
  overflow-y: scroll;
  background-color: $background-element-light;
}
  ::-webkit-scrollbar {
    background-color:$layout-color;
    height: 7px;
    width: 7px;
    border-radius: 10px;
  }
  ::-webkit-scrollbar-thumb {
    background: $color-end;
    border-radius: 10px;
  }
.imessage {
  width: 100%;
  display: flex;
  flex-direction: column;
  ul,
  li {
    list-style-type: none;
  }

  li {
    .from-me {
      div {
        display: flex;
        justify-content: flex-end;
        .content {
          background-color: $color-end;
          max-width: 90%;
          padding: 5px 10px 0px 10px;
          border-radius: 0.7rem;
          margin-right: 10px;
          margin: 5px;
        }
        .circle {
          order: 2;
          @include circle();
        }
      }
    }
    .from-them {
      div {
        display: flex;
        justify-content: flex-start;
        .content {
          background-color: $color-end;
          max-width: 90%;
          padding: 5px 10px 0px 10px;
          border-radius: 1.2rem;
          margin-right: 10px;
          margin: 5px;
        }
        .circle {
          order: -1;
          @include circle();
        }
      }
    }
  }
}



.msgs-in{
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  min-height: 100%;
}

.input-message{
  width: 98%;
  margin:auto;
  margin-bottom:10px;
}