@mixin circle($color:red, $min:0) {
	background:$color;
  font-size: 1.5rem;
  min-width: 45px;
  min-height: 45px;
  width: 45px;
  height: 45px;
  
  border-radius: 50%;
  display: flex; /* or inline-flex */
  align-items: center;
  justify-content: center;
  margin: 5px;
  text-transform: uppercase;
  @if $min !=0 {
    width: 35px;
    height: 35px;
  }
}

@mixin circle-avatar($color:red, $size:0) {
	background:$color;
  font-size: 1.5rem;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex; /* or inline-flex */
  align-items: center;
  justify-content: center;
  margin: 5px;
  text-transform: uppercase;
  @if $size !=0 {
    width: $size;
    height: $size;
    font-size: $size / 2;
  }
}

@mixin user-avatar($size){
  width: $size;
  height: $size;
  border: .5px solid black;
  border-radius: 50%;
  margin: 5px;

}