$background:#31414a;

$background-element : #424d5a;
//$background-element-light : rgb(84, 90, 167);
$background-element-light: #424d5a;
//$background-element-dark : rgb(34, 36, 66);
$background-element-dark : #212831;
$layout-color: #181b20;
$color-end: #3c6382;
$text-color: white;
$blue:#007bff;
$indigo:#6610f2;
$purple:#6f42c1;
$pink:#df0b63;
$red:#dc3545;
$white: white;
$orange:#fd7e14;
$yellow:#ffc107;
$green:#28a745;
$black: #000000;

$teal:#20c997;
$cyan:#17a2b8;
$white:#fff;
$gray:#6c757d;
$gray-dark:#343a40;

$primary:#0b5ed7;
$primary-hover:#094db3;
$secondary:#5c636a;
$secondary-hover:#4d5358;
$success : #198754;
$success-hover : #157347;
$info:#17a2b8;
$info-hover : #138496;
$warning:#ffc107;
$warning-hover:#e0a903;
$danger:#d62433;
$danger-hover:#b82433;

$dark-pink:#aa094c;

$light: #ffffff;
$dark:#343a40;
$dark-light:rgb(199, 199, 199);