@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300&display=swap');

@import 'theme-variables';
* {
	margin: 0;
	padding: 0;
}

::selection{
	color: #fff;
	background: black;
}
body{
	background-color: $background-element-dark ;
	color:$text-color;
	font-family: 'Signika', sans-serif;
}
::-webkit-scrollbar {
  background-color:$layout-color;
  height: 5px;
	width: 10px;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: $color-end;
  border-radius: 10px;
}