@import '../../../../public/scss/theme-variables';
@import "../../../../public/scss/mixins";
.open-btn{
  display:none;
}
.chat {
  display: flex;

    background-color: $background-element-dark;
    li {
      list-style: none;
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      min-width:150px;
        .circle {
          @include circle()
        }
  }
  .chat {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: $background-element-light ;
  }
}

@media screen and (max-width:900px){
    .none{
      display:none;
    }
    .open-btn{
      display:block;
    }
}
@media screen and (min-width:900px){
  .btn-burger{
    display: none;
  }
}