@import '../../../../public/scss/theme-variables';
@import "../../../../public/scss/mixins";

.chat {
  display: flex;
  .list {
    width: 25%;
    background-color: $background-element-dark;
    li {
      list-style: none;
      display: flex;
      align-items: center;
      margin-bottom: 8px;
      .container-circle {
        margin-right: 5px;
        .circle {
          @include circle()
        }
        
        
      }
    }
  }
  .chat {
    display: block;
    width: 75%;
    padding: 10px;
    background-color: $background-element-light ;
  }
}