@import "../../../../public/scss/theme-variables";
nav{
	display:flex;
}
#nav-app{
	display:block;
	background:$black;
	border-right: 1px solid white;
	min-width: 70px;
	li{
		margin:auto;
		margin-top: 10px;
		margin-bottom:25px;
	}
}
.icon{
	width: 30px;
}
ul,li{list-style: none;}
  .none {
    display: none !important;
  }
  .btn-burger {
    margin: 5px;
  }